body {
	font-family: sans-serif;
	font-size: 16px;
}

.wrap {
	margin: 2em auto;
	width: 100%;
		max-width: 1000px;
}

h1 {
	border-bottom: 4px solid #ccc;
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 1em;
}

.timeline {
    margin: 30px 0;
    padding: 0;
    list-style:none;
    position:relative;
} 
 
/* The line */
/* .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: gray;
    left: 20%;
    margin-left: -10px;
} */
 
li {
    position: relative;
}
 
/* The date/time */
.year {
    display: block;
    width: 40px;
    padding-right: 10px;
    position: absolute;
    font-size:24px;
}
 
/* Right content */
li .box {
    margin: 0 0 15px 130px;
    background: #119EB8;
    color: white;
    padding: 1px 20px 10px;
    position: relative;
}
 
.timeline > li:nth-child(odd) .box {
    background: lightgray;
    color: black;
}
 
/* The triangle */
.timeline > li .box:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #119EB8;
    border-width: 10px;
    top: 5px;
}
 
.timeline > li:nth-child(odd) .box:after {
    border-right-color: lightgray;
}
 
/* Dots */
.timeline > li .dot {
    width:30px;
    height:30px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    background: gray;
    border-radius: 50%;
    left: 20%;
    top: 0;
    margin: -1px 0 0 -20px;
}